body {
  margin: 0 auto;
  background: #ffffff;
  color: #000000;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
.dark-bg {
  color: #ffffff;
  background: #030303;
}
.navigation {
  &__link {
    padding: 10px;
    color: #ffffff;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    font-family: "Roboto";
    transition: 0.5s;
  }
}
.navigation__link:hover {
  cursor: pointer;
  color: #9d8665;
}
.navigation__link:active {
  color: #7e6c51;
}
.title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.header {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  &__img {
    background: url(../../assets/svg/icon.svg) 50% 50% no-repeat;
    margin-bottom: 5px;
    width: 49px;
    height: 26px;
    transition: 0.5s;
  }
  &__text {
    font-family: Forum;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 31px;
    transition: 0.5s;
  }
}
.logo:hover {
  cursor: pointer;
  .logo__img {
    filter: invert(58%) sepia(15%) saturate(710%) hue-rotate(356deg) brightness(150%) contrast(91%);
  }
  .logo__text {
    color: #d2b183;
  }
}
.header__navigation {
  width: 775px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.welcome__text-container {
  position: relative;
  padding: 150px 0 270px;
  width: 600px;
  z-index: 2;
}
.welcome__subtitle {
  font-family: Roboto;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin: 25px 0 75px;
}
.welcome__button {
  background: #710707;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  border: none;
  width: 360px;
  height: 75px;
  color: #ffffff;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__button:hover {
  background: #9d8665;
  cursor: pointer;
}
.welcome__slider {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  right: 0;
  z-index: 1;
}
.slider__gallery {
  overflow: hidden;
  position: relative;
}
.slider__gallery_shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: #030303;
  box-shadow: 0px 0px 140px 180px #030303;
  z-index: 2;
}

.slider__pagination,
.slider__numbers,
.slider__squares,
.slider__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__pagination {
  position: relative;
  z-index: 2;
  width: 450px;
  background: #030303;
  margin-top: -65px;
  padding: 39px 75px;
}
.slider__numbers {
  width: 76px;
  height: 40px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
}
.slider__squares {
  width: 180px;
}
.squares__square {
  width: 16px;
  height: 16px;
  background: #ffffff;
  transition: 0.5s;
}
.squares__square:hover {
  background: #d2b183;
  cursor: pointer;
}
.squares__square_beige {
  background: #d2b183;
}
.slider__arrows {
  width: 80px;
}
.slider__arrow {
  background: url(../../assets/svg/arrow.svg) 50% 50% no-repeat;
  height: 8px;
  width: 30px;
  padding: 10px 0;
  border: none;
  transition: 0.5s;
}
.slider__arrow:hover {
  cursor: pointer;
  filter: invert(58%) sepia(15%) saturate(710%) hue-rotate(356deg) brightness(150%) contrast(91%);
}
.slider__arrow_right {
  transform: rotate(180deg);
}

.visiting {
  max-width: 1440px;
  margin: 0 auto;
  padding: 75px 0;
  &__title {
    border-bottom: #710707 3px solid;
    color: #9d8665;
    padding-bottom: 25px;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.card-link {
  margin-top: 75px;
  color: #000000;
  &__img {
    width: 440px;
    height: 285px;
  }
  &__title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 58px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px 0 11px;
    position: relative;
  }

  &__title::after {
    content: "";
    height: 2px;
    background: #710707;
    width: 68%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
  }
  &__big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.1px;
  }
}
.card-link:hover {
  .card-link__title::after {
    width: 100%;
  }
}
.explore {
  padding: 75px 0 70px;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  &__text-container {
    max-width: 659px;
  }
  &__img-container{
margin-top: 14px;
  }
  &__title {
    border-bottom: #710707 3px solid;
    padding-bottom: 25px;
    margin-bottom: 75px;
  }
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    margin-top: 25px;
    &_yellow {
      color: #9d8665;
    }
  }
}
.footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  padding: 84px 0 51px;
}
.footer__white-stripe {
  height: 3px;
  background: #585252;
  width: 100%;
  margin: 48px 0 51px;
}
.footer__container {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}
.logo-and-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 710px;
  width: 100%;
}
.footer__navigation {
  display: flex;
  width: 380px;
  justify-content: space-between;
  margin-top: 5px;
}
.footer__navigation_margin {
  margin-bottom: 25px;
}
.social-net {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 340px;
  margin-bottom: 7px;
}
.social-net__link {
  width: 46px;
  height: 46px;
  border: solid 1px #666666;
  border-radius: 50%;
  display: block;
  transition: 0.5s;
}
.social-net__link:hover {
  border: solid 1px #9d8665;
  filter: invert(58%) sepia(15%) saturate(710%) hue-rotate(356deg) brightness(150%) contrast(91%);
}
.youtube {
  background: url(../../assets/svg/youtube.svg) no-repeat 50% 50%;
}
.instagram {
  background: url(../../assets/svg/instagram.svg) no-repeat 50% 50%;
}
.facebook {
  background: url(../../assets/svg/facebook.svg) no-repeat 50% 50%;
}
.twitter {
  background: url(../../assets/svg/twitter.svg) no-repeat 50% 50%;
}
.pinterest {
  background: url(../../assets/svg/pinterest.svg) no-repeat 50% 50%;
}
